
*{
    margin: 0;
    padding: 0;
}
body
{
    background-color: rgb(124, 27, 27);
    background-size: cover;
    background-position: center ;
    background-repeat: no-repeat;
   
}

.main-nav
{
    
    list-style: none;
    margin-top: 35px;
}
.main-nav li
{
      display: inline-block;
}
.main-nav li a
{
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}
.main-nav li.active a
{
    border: 1px solid white ;
}
.main-nav li a:hover
{
    border:1px solid white;
}

.img{
    display: flex;
    justify-content: center;
}

h1
{
    color: black;
    text-transform: uppercase;
    font-size: 70px;
    text-align: center;
    margin: 75px;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:none;
    color: white;
    text-align: center;
}
.footer2{
    width:100%;
    background-color: none;
    color:white;
    text-align: left;
    padding-bottom: 60px;
}